@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
    background: url(./img/background.jpg) no-repeat center center;
    background-size: cover;
    color: #555;
    font-family: "Nanum Gothic", sans-serif;
}

.container {
    height: 100vh;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-tabs {
    position: relative;
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

#underline {
    position: absolute;
    min-width: 54px;
    height: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}

.task-list {
    padding-left: 0;
    list-style-type: none;
    counter-reset: task-counter;
}

.task-list > li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid lightgray;
    position: relative;
    gap: 5px;
    counter-increment: task-counter;
}

.task-list > li::before {
    content: counter(task-counter) ". ";
    position: absolute;
    left: 0px;
}

.text-done {
    background-color: lightgray;
}

.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}

.text-dodo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.text-date {
    font-size: 12px;
    font-weight: 400;
}

.text-done > .text-task {
    text-decoration: line-through;
}

@media (max-width: 576px) {
    .task-list > li {
        align-items: flex-start;
    }
}
